.top-offset-small{
  margin-top: 15px;
}
.top-offset-medium{
  margin-top: 30px;
}
.top-offset-large{
  margin-top: 45px;
}
.top-offset-extra-large{
  margin-top: 70px;
}
.bottom-offset-small{
  margin-bottom: 15px;
}
.bottom-offset-medium{
  margin-bottom: 30px;
}
.bottom-offset-large{
  margin-bottom: 45px;
}
.bottom-offset-extra-large{
  margin-bottom: 70px;
}